/*about section*/
.about{
    display: flex;
  /*  align-items: center;*/
    justify-content: space-between;

}
.about-img{
    width: 30%;
    margin-left:15% ;
    margin-top: 3rem;
}
.about-lbl{
    width: 8rem;
    height:3rem ;
    background-color: var(--main-colour);
}

.about-lbl h2{
   margin-top: 10px;
    position: absolute;
    margin-left: 20px;
}

.content{
    margin-top: 3rem;
    margin-right: 20%;
}
.details{
    font-size: 1.5rem;
    color: var(--txt-colour);
}

#btn-cv{
    width: 40%;
    padding: 0.4rem 1rem;
    /*background: var(--main-colour);*/
    border-radius: 2rem;
    font-size: 1.2rem;
    color: white;
    border: 1px solid var(--main-colour);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 30% ;
    text-decoration: none;
}

#btn-cv a{
    text-decoration: none;
    color: var(--txt-colour);

}


/* Styles for Mobile Large (376px to 425px) */
@media all and (min-width: 376px) and (max-width: 425px) {

}

/* Styles for Mobile Large (376px to 425px) */
@media all and (min-width: 376px) and (max-width: 425px) {

}

/* Styles for Tablet (426px to 768px) */
@media all and (min-width: 426px) and (max-width: 768px) {

}

/* Styles for Laptop (769px to 1024px) */
@media all and (min-width: 769px) and (max-width: 1024px) {

}

/* Styles for Laptop (1025 to 1400) */
@media all and (min-width: 1025px) and (max-width: 1440px) {

}