.assignment-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 /*   max-width: 1200px;*/
    flex-wrap: wrap;
    z-index: 1;

}

.assignment-head{
    text-align: center;
    color: white;
    font-size: 50px;
}
.assignment-card{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
}

.assignment-content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;
}

.assignment-card :hover{
    transform: translateY(0px);
    opacity: 1;
}

.assignment-card .assignment-content h2{
    position: absolute;
    top: -80px;
    left: 120px;
    margin: 0;
    font-size: 6rem;
    color: rgba(255,255,255,0.05);
    pointer-events: none;
    font-family: cursive;
}

.assignment-content p{
    color: var(--txt-colour);
    font-size: 1em;
}

.assignment-content a{
    padding: 0.5rem 1rem;
    position: relative;
    top: 15px;
    background: var(--main-colour);
    border-radius: 2rem;
    font-size: 1rem;
    color: black;
    border: 1px solid var(--main-colour);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;

}

/* Styles for Mobile Large (376px to 425px) */
@media all and (min-width: 376px) and (max-width: 425px) {

}

/* Styles for Mobile Large (376px to 425px) */
@media all and (min-width: 376px) and (max-width: 425px) {

}

/* Styles for Tablet (426px to 768px) */
@media all and (min-width: 426px) and (max-width: 768px) {

}

/* Styles for Laptop (769px to 1024px) */
@media all and (min-width: 769px) and (max-width: 1024px) {

}

/* Styles for Laptop (1025 to 1400) */
@media all and (min-width: 1025px) and (max-width: 1440px) {

}
