.contact-area{
    min-height: 70vh;
    padding: 50px;
    text-align: center;
    margin-bottom: 3.5rem;
}

.contact-container{
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h2{
    font-size: 36px;
    margin-bottom: 40px;

}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5rem;

}

.contact-form{
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group input,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

.form-group input:focus,
.form-group textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

#contact-btn{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#contact-btn:hover{
    background-color: #45a049;
}

.contact-info{
    text-align: left;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p{
    margin-bottom: 10px;
    color: #555;

}

.contact-info i{
    color: #4caf50;
    margin-right: 10px;

}
/* Styles for Mobile Large (376px to 425px) */
@media all and (min-width: 376px) and (max-width: 425px) {

}

/* Styles for Mobile Large (376px to 425px) */
@media all and (min-width: 376px) and (max-width: 425px) {

}

/* Styles for Tablet (426px to 768px) */
@media all and (min-width: 426px) and (max-width: 768px) {

}

/* Styles for Laptop (769px to 1024px) */
@media all and (min-width: 769px) and (max-width: 1024px) {

}


