.contact-area{
    min-height: 70vh;
    padding: 50px;
    text-align: center;
    margin-bottom: 3.5rem;
}

.contact-area h2{
    text-align: center;
    color: var(--txt-colour);
    font-size: 50px;
}

.contact-container{
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h2{
    font-size: 36px;
    margin-bottom: 40px;

}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5rem;

}

.contact-form{
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group input,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

.form-group input:focus,
.form-group textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

#contact-btn{
    padding: 15px 28px;
    background-color: #7FFF00;
    color: var(--txt-colour);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: 2rem;
}

#contact-btn:hover{
    background-color: #45a049;
}

.contact-info{
    text-align: left;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p{
    margin-bottom: 10px;
    color: #555;

}

.contact-info i{
    color: #4caf50;
    margin-right: 10px;

}


/* Styles for Mobile Medium (321px to 375px) */
@media all and (min-width: 321px) and (max-width: 375px) {
    .contact-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

    }

    #message{
        height: 150px;
    }

    .contact-info p{
        font-size: 13px;

    }

    .contact-area h2{
        font-size: 25px;
    }
    #contact-btn{
        padding: 8px 22px;
        font-size: 13px;
        font-weight: 600;
    }
}

/* Styles for Mobile Large (376px to 425px) */
@media all and (min-width: 376px) and (max-width: 425px) {
    .contact-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

    }

    #message{
        height: 150px;
    }

    .contact-info p{
        font-size: 17px;

    }
    .contact-area h2{
        font-size: 25px;
    }

    #contact-btn{
        padding: 8px 22px;
        font-size: 13px;
        font-weight: 600;
    }
}

/* Styles for Tablet (426px to 768px) */
@media all and (min-width: 426px) and (max-width: 768px) {
    .contact-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

    }

    #message{
        height: 150px;
    }
}

/* Styles for Laptop (769px to 1024px) */
@media all and (min-width: 769px) and (max-width: 1024px) {
    #contact-btn{
        padding: 10px 26px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15%;
    }
}


