:root {
    --nav-colour: gray;
    --txt-colour: white;
    --bg-colour: #181616;
    --main-colour: #7FFF00;
    --second-bg-colour: #262B40;
}

body {
    background-color: var(--bg-colour);
}

img {
    max-height: 100%;
    max-width: 100%;
}

section{
    height: 100%;
}




