@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;
    color: white;
}

img {
    max-height: 100%;
    max-width: 100%;

}

:root {
    --nav-colour: gray;
    --txt-colour: white;
    --bg-colour: #181616;
    --main-colour: #7FFF00;
    --second-bg-colour: #262B40;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: var(--txt-colour);
    background-color: var(--bg-colour);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--nav-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
}

.logo {
    width: 100px;
    cursor: default;
    position: relative;
    right: 9rem;
}

.nav-bar a {
    font-size: 1.5rem;
    color: var(--txt-colour);
    margin-left: 5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-bar span {
    color: red;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--txt-colour);
    display: none;
}








