header {
    position: fixed;
    /*background-color: var(--nav-colour);*/
    background:linear-gradient(45deg,#E9F1FA,#00ABE4,#FFFFFF);
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
    width: 100%;
    height: 80px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    z-index: 999999;
}

header > nav {
    position: absolute;
    width: fit-content;
    right: 6%;
    top: 30px;
    font-size: 18px;
    font-family: sans-serif;

}
header > nav > ul {
    margin: 0;
}

header > nav > ul > li {
    display: inline-block;
}

header > nav > ul > li > a {
    color: var(--txt-colour);
    font-weight: bold;
    margin: 10px;
    padding-top: 7px;
    text-decoration: none;
}



span{
    color: red;
}

.logo{
    position: relative;
    left: 2rem;
    top: 0.5rem;
}
header>div{
    position: relative;
    top: -11px;
}
#burgerbtn{
    top: 18px;
    position: absolute;
    left: 3vw;
    opacity: 0;
}
#burgerbtn>div{
    width: 30px;
    height: 4px;
    background-color: var(--txt-colour);
}
#burgerbtn>div:first-child{
    top: 0;
    position: relative;
}
#burgerbtn>div:nth-child(2){
    top: 2px;
    position: relative;
}
#burgerbtn>div:nth-child(3){
    top: 4px;
    position: relative;
}
.rotate1{
    transform: rotate(135deg);
    top: 10px !important;
    transition-duration: 0.5s;
}
.rotate3{
    transform: rotate(-135deg);
    top: 5px !important;
    transition-duration: 0.5s;
}

@media all and (max-width: 768px){
    header > nav {
        position: absolute;
        width: fit-content;
        left: -2%;
        top: 36px;
        font-size: 15px;
        font-family: "Candara Light", serif;
        line-height: 8px;
        opacity: 0;
    }

    header{
        height: 50px;
    }
    header > nav > ul {
        margin: 0;
    }

    header > nav > ul > li {
        display: grid;
    }

    header > nav > ul > li > a {
        color: var(--txt-colour);
        font-weight: bold;
        margin: 10px;
        padding-top: 7px;
        text-decoration: none;
    }
    header>div{
        opacity: 0;
    }
    #burgerbtn{
        opacity: 1;

    }

}
/* Styles for Laptop (769px to 1024px) */
@media all and (min-width:769px) and (max-width:1024px) {
    #menu a{
        font-size: 16px;
    }

    .logo{
        width: 100px;
    }

    .logo>img{
        position: relative;
        right: 15px;
        top: 5px;
    }

    nav ul li {
        margin-right: -10px;
    }

}